@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-image: url('../../../assets/1239284.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
    @media (max-width: 768px) {
      background-attachment: scroll;
    }
    @media (max-width: 480px) {
      background-position: top center;
    }
  }
}
